<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Crowd Funding App</display-name>
  	<welcome-file-list>
  		<!-- <welcome-file>/accueil.jsp</welcome-file> -->
  		<welcome-file>home</welcome-file>
  	</welcome-file-list>
  
	<!-- Serlvet Home -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.Home</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		 <url-pattern>/home</url-pattern> 
	</servlet-mapping>
	
	
	<!-- Servlet Sign Up -->
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.SignUp</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Log On -->
	<servlet>
		<servlet-name>LogOn</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.LogOn</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogOn</servlet-name>
		<url-pattern>/logon</url-pattern>
	</servlet-mapping>
</web-app>