<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Crowd Funding App</display-name>
  
  	<welcome-file-list>
  		<welcome-file>home</welcome-file>
  	</welcome-file-list>

	<listener>
		<listener-class>fr.m1info.rv2j.config.InitialisationDAOFactory</listener-class>
	</listener>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error_404.jsp</location>
	</error-page>
	<!-- Page d'erreur 401 -->
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/error_401.jsp</location>
	</error-page>

	<!-- Page d'erreur 404 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<!-- Serlvet Home -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.Home</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		 <url-pattern>/home</url-pattern> 
	</servlet-mapping>
	
	
	<!-- Servlet Sign Up -->
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.SignUp</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Log On -->
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.LogIn</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Account -->
	<servlet>
		<servlet-name>Account</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.Account</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet ProjectAdd -->
	<servlet>
		<servlet-name>ProjectAdd</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.ProjectAdd</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProjectAdd</servlet-name>
		<url-pattern>/project_add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Projects -->	
	<servlet>
		<servlet-name>Projects</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.Projects</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Projects</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet MyProjects -->
	<servlet>
		<servlet-name>MyProjects</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.MyProjects</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyProjects</servlet-name>
		<url-pattern>/my_projects</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Project -->
	<servlet>
		<servlet-name>ProjectShow</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.ProjectShow</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProjectShow</servlet-name>
		<url-pattern>/project</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet ContributionAdd -->
	<servlet>
		<servlet-name>ContributionAdd</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.ContributionAdd</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ContributionAdd</servlet-name>
		<url-pattern>/contribution_add</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Logout -->
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.LogOut</servlet-class>
	</servlet>
	
	<!-- SERVLETS ADMIN -->
		<!-- Servlet UsersList -->
	<servlet>
		<servlet-name>AdminUsersList</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminUsersList</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminUsersList</servlet-name>
		<url-pattern>/admin/users_list</url-pattern>
	</servlet-mapping>
	
		<!-- Servlet UserAdd -->
	<servlet>
		<servlet-name>AdminUserAdd</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminUserAdd</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminUserAdd</servlet-name>
		<url-pattern>/admin/user_add</url-pattern>
	</servlet-mapping>
	
		<!-- Servlet UserEdit -->
	<servlet>
		<servlet-name>AdminUserEdit</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminUserEdit</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminUserEdit</servlet-name>
		<url-pattern>/admin/user_edit</url-pattern>
	</servlet-mapping>
	
		<!--  Servlet ProjectsList -->	
	<servlet>
		<servlet-name>AdminProjectsList</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminProjectsList</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminProjectsList</servlet-name>
		<url-pattern>/admin/projects_list</url-pattern>
	</servlet-mapping>
	
			<!--  Servlet ProjectAdd -->	
	<servlet>
		<servlet-name>AdminProjectAdd</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminProjectAdd</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminProjectAdd</servlet-name>
		<url-pattern>/admin/project_add</url-pattern>
	</servlet-mapping>
	
		<!-- Servlet ProjectEdit -->
	 <servlet>
		<servlet-name>AdminProjectEdit</servlet-name>
		<servlet-class>fr.m1info.rv2j.servlets.AdminProjectEdit</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminProjectEdit</servlet-name>
		<url-pattern>/admin/project_edit</url-pattern>
	</servlet-mapping>
	

</web-app>